Support(A): Number if transactions in which the item A appears /Total number for transactions

Confidence (A => B): signifies the likelihood of the item B being purchase when item A is purchased

Conf(A,B) = support(A,B) / suporrt (A)

In [18]:
from mlxtend.preprocessing import TransactionEncoder

In [19]:
from mlxtend.frequent_patterns import apriori, association_rules

In [20]:
dataset = [['Apple', 'Beer', 'Rice', 'Chicken'], 
           ['Apple', 'Beer', 'Rice'], 
           ['Apple', 'Beer'], 
           ['Apple', 'Bananas'], 
           ['Milk', 'Beer', 'Rice', 'Chicken'], 
           ['Milk', 'Beer', 'Rice'], 
           ['Milk', 'Beer'], 
           ['Apple', 'Bananas']]

In [21]:
te = TransactionEncoder()
te_array = te.fit(dataset)

In [22]:
te_array.columns_

['Apple', 'Bananas', 'Beer', 'Chicken', 'Milk', 'Rice']

In [23]:
dataset_transformed = te_array.transform(dataset)

In [24]:
dataset_transformed

array([[ True, False,  True,  True, False,  True],
       [ True, False,  True, False, False,  True],
       [ True, False,  True, False, False, False],
       [ True,  True, False, False, False, False],
       [False, False,  True,  True,  True,  True],
       [False, False,  True, False,  True,  True],
       [False, False,  True, False,  True, False],
       [ True,  True, False, False, False, False]])

In [25]:
dataset_transformed.astype('int')

array([[1, 0, 1, 1, 0, 1],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 1, 0, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 0, 1, 1, 1, 1],
       [0, 0, 1, 0, 1, 1],
       [0, 0, 1, 0, 1, 0],
       [1, 1, 0, 0, 0, 0]])

In [27]:
import pandas as pd
itemset = pd.DataFrame(dataset_transformed.astype('int'), columns=te_array.columns_)

In [28]:
itemset

   Apple  Bananas  Beer  Chicken  Milk  Rice
0      1        0     1        1     0     1
1      1        0     1        0     0     1
2      1        0     1        0     0     0
3      1        1     0        0     0     0
4      0        0     1        1     1     1
5      0        0     1        0     1     1
6      0        0     1        0     1     0
7      1        1     0        0     0     0

In [29]:
freq_items = apriori(itemset, min_support=0.3, use_colnames=True)

In [30]:
freq_items

   support       itemsets
0    0.625        (Apple)
1    0.750         (Beer)
2    0.375         (Milk)
3    0.500         (Rice)
4    0.375  (Apple, Beer)
5    0.375   (Milk, Beer)
6    0.500   (Rice, Beer)

In [31]:
freq_items.sort_values(by='support')

   support       itemsets
2    0.375         (Milk)
4    0.375  (Apple, Beer)
5    0.375   (Milk, Beer)
3    0.500         (Rice)
6    0.500   (Rice, Beer)
0    0.625        (Apple)
1    0.750         (Beer)

In [34]:
rules = association_rules(freq_items, metric='confidence', min_threshold=1)

In [35]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.375,0.75,0.375,1.0,1.333333,0.09375,inf
1,(Rice),(Beer),0.500,0.75,0.500,1.0,1.333333,0.12500,inf